
//  Weights

$font-weight__hairline: 100;
$font-weight__extralight: 200;
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__heavier: 500;
$font-weight__semibold: 600;
$font-weight__bold: 700;
$font-weight__extrabold: 800;
$font-weight__heavy: 900;