@mixin lib-vendor-prefix-display(
  $_value: flex
) {
  display: -webkit-#{$_value};
  display: -ms-#{$_value}box;
  display: $_value;
}

@mixin lib-vendor-prefix-flex-grow(
  $_value: 0
) {
  -webkit-flex-grow: $_value;
  flex-grow: $_value;
}

@mixin lib-vendor-prefix-flex-shrink(
  $_value: 1
) {
  -webkit-flex-shrink: $_value;
  flex-shrink: $_value;
}

@mixin lib-vendor-prefix-flex-basis(
  $_value: auto
) {
  -webkit-flex-basis: $_value;
  flex-basis: $_value;
}

@mixin lib-vendor-prefix-flex-wrap(
  $_value: wrap
) {
  -webkit-flex-wrap: $_value;
  flex-wrap: $_value;
}

@mixin lib-vendor-prefix-flex-direction(
  $_value: column
) {
  -webkit-flex-direction: $_value;
  -ms-flex-direction: $_value;
  flex-direction: $_value;
}

@mixin lib-vendor-prefix-order(
  $_value: 0
) {
  -ms-flex-order: $_value;
  -webkit-order: $_value;
  order: $_value;
}

@mixin lib-vendor-box-align(
  $_value: stretch
) {
  -webkit-align-items: $_value;
  -ms-align-items: $_value;
  align-items: $_value;
}

@mixin lib-vendor-prefix-appearance(
  $_value: none
) {
  -webkit-appearance: $_value;
  -moz-appearance: $_value;
  appearance: $_value;
}

@mixin lib-vendor-prefix-column-count(
  $_value
) {
  -webkit-column-count: $_value;
  -moz-column-count: $_value;
  column-count: $_value;
}

@mixin lib-css(
  $_property,
  $_value,
  $_prefix: 0
) {
  @if $_prefix == 1 and $_value != '' and $_value != false {
    display: -webkit-#{$_value};
    display: -ms-#{$_value}box;
    display: $_value;
  } @else if $_prefix == 0 and $_value != '' and $_value != false {
    #{$_property}: $_value;
  }
}



@mixin lib-visibility-hidden() {
  height: 0;
  visibility: hidden;
}

@mixin lib-visually-hidden() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin lib-visually-hidden-reset() {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@mixin lib-clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}


@mixin lib-font-face(
  $family-name,
  $font-path,
  $font-weight: normal,
  $font-style: normal,
  $font-display: auto
) {
  font-family: $family-name;
  src: url('#{$baseDirFonts}#{$font-path}.eot?21831q');
  src: url('#{$baseDirFonts}#{$font-path}.eot?21831q#iefix') format('embedded-opentype'),
  url('#{$baseDirFonts}#{$font-path}.ttf?21831q') format('truetype'),
  url('#{$baseDirFonts}#{$font-path}.woff?21831q') format('woff'),
  url('#{$baseDirFonts}#{$font-path}.svg?21831q#icomoon') format('svg');
  font-weight: $font-weight;
  font-style: $font-style;
  font-display: $font-display;
}

@mixin lib-font-face-path(
  $family-name,
  $font-path,
  $local,
  $font-format,
  $font-weight: normal,
  $font-style: normal,
  $font-display: swap
){
  font-family: $family-name;
  font-style: $font-style;
  font-weight: $font-weight;
  src: local($local), local($local), url($font-path) format($font-format);
  font-display: $font-display;
}

@mixin lib-text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin lib-text-hide() {
  background-color: transparent;
  border: 0;
  color: transparent;
  text-shadow: none;
}

@mixin lib-reset-spacing($_margin: 0, $_padding: 0) {
  @include lib-css(margin, $_margin);
  @include lib-css(padding, $_padding);
}

@mixin lib-list-reset-styles($_margin: 0, $_padding: 0) {
  @include lib-css(margin, $_margin);
  @include lib-css(padding, $_padding);
  list-style: none none;
}

@mixin lib-list-inline() {
  @include lib-list-reset-styles;

  > li {
    display: inline-block;
    vertical-align: top;
  }
}

@mixin lib-font-size(
  $sizeValue
) {
  @include lib-css(font-size, rem($sizeValue));
}

@mixin lib-line-height(
  $sizeValue
) {
  @include lib-css(line-height, rem($sizeValue));
}

@mixin lib-text-decoration-none() {
  text-decoration: none;
}

@mixin lib-transition(
  $_property: all,
  $_function: null,
  $_duration: $default-transition,
) {
  @include lib-css(transition, $_property $_duration $_function);
}

@mixin lib-icon-font(
  $_icon-font-content,
  $_icon-font-size: $icon-font__size,
  $_icon-font-color: $icon-font__color,
  $_icon-font-color-hover: $icon-font__color-hover,
  $_icon-font-display: $icon-font-display,
  $_icon-font-position: 'before',
  $_icon-font-vertical-align: $icon-font-vertical-align,
  $_icon-font-transition: $icon-font-transition,
  $_icon-font-line-height: $_icon-font-size,
  $_font: $default-icon-font,
  $_icon-font-content-hover: false
) {

  &:#{$_icon-font-position} {
    @include lib-css(content, $_icon-font-content);
    @include lib-transition(color);
    @include lib-css(display, $_icon-font-display);
    @include lib-font-size($_icon-font-size);
    @include lib-line-height($_icon-font-line-height);
    @include lib-css(vertical-align, $_icon-font-vertical-align);
    @include lib-css(color, $_icon-font-color);
    @include lib-css(font-family, $_font);
    @include lib-css(width, $_icon-font-size);
    @include lib-css(height, $_icon-font-size);
  }

  &:hover {
    &:#{$_icon-font-position} {
      @include lib-css(color, $_icon-font-color-hover);
      @if $_icon-font-content-hover != false {
        @include lib-css(content, $_icon-font-color-hover);
      }
    }
  }
}


/**
 * Transition
 */
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

/**
 * Box shadow
 */
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/**
 * Double box shadow
 */
@mixin box-shadow-double($shadow, $shadow2) {
  -webkit-box-shadow: $shadow, $shadow2;
  -moz-box-shadow: $shadow, $shadow2;
  box-shadow: $shadow, $shadow2;
}

/**
 * Remove box-shadow (for overruling box shadow mixin)
 */
@mixin no-box-shadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/**
 * Border radius
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin lib-focus-color ($value) {
  &:focus {
    @include lib-css(color, $value);
  }
  &:-moz-focusring {
    @include lib-css(color, $value);
  }
}